server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${spring.datasource.url}
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: never

security:
  jwt:
    secret: ${JWT_SECRET:change-me-32chars-min}
    expires-min: 15